.user-management {
    padding: 20px;
  }
  
  .header {
    display: inline-block;
    margin-right: auto;
  }
  
  .add-user-button {
    display: inline-block;
    margin-left: auto;
    background-color: #4ca1af;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-header {
    background-color: #333;
    color: white;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4ca1af;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #2c7873;
  }
  